<div class="name-field">Ваш Email:</div>
<div class="input-field">
    <img class="icon"
        src="https://spng.pngfind.com/pngs/s/421-4216333_email-home-telephone-blue-icon-hd-png-download.png"
        alt="contact" />
    <input autocomplete="off" 
        type="email" 
        name="email" 
        [(ngModel)]="email" 
        #validEmail="ngModel" 
        [pattern]="emailPattern"
        required
        />
    <div *ngIf="validEmail.invalid && !validEmail.errors?.['required'] && validEmail.touched" class="error">некорректный email</div>
    <div *ngIf="validEmail.errors?.['required'] && validEmail.touched" class="error">незаполнен email </div>
</div>